
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #3498db; 
    color: white;
    text-align: center;
    padding: 15px;
}

main {
    display: flex; 
    flex: 1;           
}

.aside {
    width: 150px;
    background-color: #297707; 
    color: white;
    padding: 20px;
    flex-shrink: 0;     
}

section {
    flex: 1;            
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
section:first-of-type {
    border-right: 6px solid #00a434; 
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    width: 120px;     
    flex-shrink: 0;
    user-select: none;
    cursor: default;
}

.inputtext, #txtNombreCompleto, #txtResultado {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #000;
}

input:disabled {
    background-color: #cbd5e0;
}
.button {
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0;
}

.button1 { background-color: #76b900; } 
.button2 { background-color: #a50021; } 